| var html = '<div class="flash flash-success"><p class="notice">#{i('connections.alerts.notice', group: @group.name)}</p></div>';
| $('.flash-content').html(html);
| $(".member_count_#{@group.id}").text("#{@members_count}");
| $(".member_count_#{@group.id}").effect('highlight', 3000);
