// variables
$iblue:   #057ECA;
$iorange: #FBB22E;
$igreen:  #4FB744;
$error:   #A94442;

// navbar - styling
.workspace .navbar {
    border-radius: 0px;
}

.workspace .navbar-inverse {
  background-color: $iblue;
  border-bottom: 6px solid $iorange;
}

.workspace .navbar-inverse .navbar-brand {
  color: white;
}

.workspace .navbar-inverse .navbar-nav > li > a {
  color: white;
}

.workspace .navbar-right {
  margin-right: 20px;
}

.workspace .navbar {
  margin-bottom: 0px;
}

.panel-primary {
  border-color: $igreen !important;
  .panel-heading {
    background-color: $igreen !important;
  }
}

// flashbar - styling
.flash {
  position: fixed;
  z-index: 999;
  top: 0;
  background: rgba(251, 178, 46, 0.8);
  width: 100%;
  p {
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 4px;
  }
}

.incom-brand {
  height: 100vh;
  background-color: $igreen;
}

.incom-branding {
  transform: rotate(-20deg);
  margin-top: 160px;
  margin-left: 50px;
}

.login-section {
  border: 1px solid black;
  padding: 20px;
  &:hover {
    box-shadow: 5px 10px #888888;
  }
  // margin: 50px;
  height: auto;
}

.action-section {
  margin-top: 20px;
}

.panel.panel-body {
  padding: 30px;
}

.panel.panel-primary {
  margin-top: 15px;
}

.input-section {
  padding: 20px;
}

.main-content {
  margin-top: 51px;
}

label abbr {
  color: red;
}

.back-cover {
  background-image: url('inmar_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  height: 100vh;
}

// Errors Styling
#error_explanation {
  color: $error;
  h2 { display: none; }
  li { list-style: none; }
}

.current-list {
  border-left: 5px solid $igreen !important;
  font-weight: bold;
  color: $igreen !important;
}

.group-title {
  color: $iblue;
}
